.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.form-row > input {
    color: #6F81EB;
    border: none;
    width: 100%;
    padding: 12px 20px;  
}

.form-row > input:hover {
    border-left: 5px solid #6F81EB;

}

.form-row > label {
    border: none;
    width: 100%;
    padding: 12px 20px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-row label:hover {
    border-left: 5px solid #6F81EB;
}