body {
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main-text {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-text {
    font-size: 10px;
    color: #96979F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/right-column-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

