body {
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main-text {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-text {
    font-size: 10px;
    color: #96979F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.checkbox {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

.checkbox > a {
    color:#96979F;
    text-decoration: none;
    text-align: right;
    width: 77%;
}

span {
    color:#96979F;
}

.left-column > a {
    color: #6F81EB;
    text-decoration: none;
    text-align: right;
    display: flex;
}

.right-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/right-column-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

